html, body {
    background-color:thistle;
    height: 100%;
    width: 100%;
}
body {
    margin: 2em;
}

header {
    margin-top: 0em;
    min-width: min-content;
    width: 30em;

    font-family: monospace;
}

#title {
    margin-bottom:0.3em;
    background: linear-gradient(to bottom, yellow, rgb(255, 255, 172));
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;

    font-weight: bolder;
    font-size: 7em;
}

#desc-fx {
    margin:0;
    color:rgb(75, 75, 75);
    font-weight: 200;
    letter-spacing: -0.05em;
    font-size: 2em;
}

#head {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}